:host{
    width: 100%;
}
body{
margin: 0px;

}
#app{
        overflow: hidden;
        height: 97vh;
}


.NavItemStyle:hover {
    color: rgb(76, 76, 76);
    background-color: rgb(76, 76, 76); 
} 

.NavItemStyle:active {
    color: yellow;
}

li:visited {
    color: yellow;
}


li:link {
    color: green;
}
li:focus {
    color: plum;
} 
